<div class="card" id="checkColor" style="width: 18rem;">
    <img id="imageUpload" class="card-img-top" src="https://bibliotekant.pl/wp-content/uploads/2021/04/placeholder-image-768x576.png" alt="Card image cap">
    <div class="card-body col text-center">
        <h5 class="card-title" id="checkName"></h5>
        <p class="card-text" id="checkDescription"></p>
        <a class="btn btn-primary">Enter room</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="">Edit</a> |
        <a href="">Details</a> |
        <a href="">Delete</a>
    </div>
</div>