@model KeeTalk.Models.ChatRoom

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create new chat room</h1>
<br />
<hr />

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_InputCreateRoomPartial" />
        </div>
        <div class="col">
            <partial name="_RoomPreviewPartial" />
        </div>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/createRoom.js"></script>
}
