@model KeeTalk.Models.MultipleModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <script>
        function clearText() {
            document.getElementById("content_text").textContent = "";
        }
        document.addEventListener("DOMContentLoaded", function () {
            var objDiv = document.getElementById("chat_window");
            objDiv.scrollTop = objDiv.scrollHeight;
        });

    </script>
</head>
<body onload="clearText()">
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-10 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://bibliotekant.pl/wp-content/uploads/2021/04/placeholder-image-768x576.png" class="rounded-circle user_img">
                            </div>
                            <div class="user_info">
                                <span>Chat name</span>
                            </div>
                        </div>
                    </div>
                    <partial name="_ShowMessagesPartial" />
                    <partial name="_SendMessagePartial" />
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}